/.vs/
/Binaries/
/[Dd]ebug/
/[Rr]elease/
/[Dd]ebug_x64/
/[Rr]elease_x64/
/Intermediate/
/DemoDeferredShading/[Dd]ebug/
/DemoDeferredShading/[Rr]elease/
/DemoDeferredShading/x64/
/DemoDeferredShading/*.dll
/DemoFightingGame/[Dd]ebug/
/DemoFightingGame/[Rr]elease/
/DemoFightingGame/x64/
/DemoFightingGame/*.dll
/EngineManagedWrapper/[Dd]ebug/
/EngineManagedWrapper/[Rr]elease/
/EngineManagedWrapper/x64/
/FSGraphicsProject/[Dd]ebug/
/FSGraphicsProject/[Rr]elease/
/FSGraphicsProject/x64/
/FSGraphicsProject/*.dll
/RhinoEngine/[Dd]ebug/
/RhinoEngine/[Rr]elease/
/RhinoEngine/x64/
/RhinoLevelEditor/bin/
/RhinoLevelEditor/obj/
/lua5.3/[Dd]ebug/
/lua5.3/[Rr]elease/
/lua5.3/x64/
*.sdf
*.suo
*.user
*.opensdf
*.ipch
*.csh
*.fxo
*.fbm
*.db
*.opendb
*.rmesh
