/[Dd]ebug/
/[Rr]elease/
/x64/
/DemoFightingGame/[Dd]ebug/
/DemoFightingGame/[Rr]elease/
/EngineManagedWrapper/[Dd]ebug/
/EngineManagedWrapper/[Rr]elease/
/FSGraphicsProject/[Dd]ebug/
/FSGraphicsProject/[Rr]elease/
/FSGraphicsProject/x64/
/FSGraphicsProject/*.dll
/RhinoEngine/[Dd]ebug/
/RhinoEngine/[Rr]elease/
/RhinoEngine/x64/
/RhinoLevelEditor/bin/
/RhinoLevelEditor/obj/
*.sdf
*.suo
*.user
*.opensdf
*.ipch
*.csh
*.fxo
*.fbm
